@import '~@fortawesome/fontawesome-free/css/all.min.css';
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #343a40;
    padding: 20px;
    color: white;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s;
}
.nav-links a:hover {
    color: #ff6600;
}

.gotocart-btn:hover {
    background-color: #d8a500;
    transform: scale(1.05);
}
.gotocart-btn i {
    margin-right: 8px;
}   
.gotocart-btn:hover {
    background-color: #d8a500;
}

